<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />

    <application>
        <meta-data
            android:name="com.google.ar.core"
            android:value="required"
            tools:replace="android:value" />

        <activity
            android:name="com.example.dara.arbridge.Dara3dRenderActivity"
            android:exported="false" />

        <activity
            android:name="com.example.dara.arbridge.DaraArRenderActivity"
            android:exported="false" />

    </application>
</manifest>
